* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
}

/*-----------------------form-validation----------------------- */
.registration-form {
    max-width: 700px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    border-color: #ff0000;
}

.error-message {
    color: #ff0000;
    margin-top: 5px;
}

.submit-button {
    background-color: lightcoral;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms linear;
}

.submit-button:hover {
    background-color: indianred;
}

.success-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translate(-50%, -50%); */
    z-index: 999;
    backdrop-filter: blur(12px);
}

.success-popup-box {
    background-color: #ffffff;
    border: 1px solid lightcoral;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.success-popup-box p {
    margin-bottom: 10px;
}

.success-popup-box button {
    background-color: lightcoral;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.success-popup-box button:hover {
    background-color: indianred;
}